html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../public/images/background-cropped.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 42px 0;
}

.brand-red {
  color: #780811;
}

.brand-yellow {
  color: #fcbc18;
}

.brand-yellow-bck {
  background-color: #fcbc18;
}

a:hover, a.active {
  color: #780811;
}

.formatted-h3 {
  color: #111827;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 1.6;
}

.brand-red a {
  color: #780811;
}

::selection {
  color: white;
  background-color: #fcbc18;
}

/* for firefox */
::moz-selection {
  color: white;
  background-color: #fcbc18;
}

.p-inputwrapper-filled .p-inputtext {
  padding: 12px 12px;
}

.hero-subtitle {
  background-color: black;
  padding: 1px 0 7px 0;
}

.prose .hide-li li {
  margin: 0;
  padding: 0;
}
.prose .hide-li li:before {
  content: '';
  display: none;
}

.prose .hide-li ul {
  list-style: none
}

.toast-demo button {
  min-width: 10rem;
  margin-right: .5rem;
}

@media screen and (max-width: 960px) {
  .toast-demo button {
    width: 100%;
    margin-bottom: .5rem;
  }
}

.pi-facebook {
  background: #d1d5db;
  color: white;
}

.pi-twitter {
  background: #d1d5db;
  color: white;
}
.socials-container {
}
.prose .socials-container a {
  font-size: 24px;
  padding: 5px;
  border-radius: 50%;
  width: 36px;
  text-align: center;
  text-decoration: none;
  margin: 3px 0;
  color: white;
}

.prose .socials-container a:not(:first-child) {
  margin-left: 7px;
}

.prose .socials-container a:hover {
  opacity: 0.7;
  text-decoration: none;
}

a.brand-red:hover {
  color: #fcbc18;
}

